<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of dataCustomers;">
        <th scope="row">{{customer?.id}}</th>
        <td>{{customer?.email}}</td>
        <td>{{customer?.usuario}}</td>
        <td>{{customer?.nombre}}</td>
        <td>{{customer?.apellido}}</td>
        <td>{{customer?.status}}</td>
        <td class="btn-toolbar">
          <a href="javascript:void" (click)="btnViewUser.open(customer)" ><i class="fas fa-eye"></i></a>
          <a href="javascript:void" (click)="btnEditUser.open(customer)"><i class="fas fa-edit"></i></a> </td>
      </tr>     
    </tbody>
  </table>
  <app-base-modal #btnViewUser [target]="'verUsuario'"></app-base-modal>
  <app-base-modal #btnEditUser [target]="'editarUsuario'"></app-base-modal>
