<div class="container mt-3 mb-3 modal-content rounded-0" style="width: 390px; height: auto">
    <!-- Modal Header -->
    <div class="modal-header">
      <span class="modal-title exo mt-1 mb-0" style="font-size: 16px"
        >EDIT PROFILE</span
      >
     <app-button-close
        [addClassTopRight]="false"
        (cerrarModal)="cerrar($event)"
      ></app-button-close> 
    </div>
    <!-- Modal body -->
    <!-- (ngSubmit)="createEditProfile($event) -->
    <form
      class="modal-body p-3"
      [formGroup]="forma"
    >
    <div class="mb-2 text-right" style="height: 50px">
        <input
        type="hidden"
        formControlName="id+1"
        />
        <input
        type="email"
        class="form-control exo text-field shadow-none"
        placeholder="Correo Electronico"
        formControlName="email"
        #email
      />
     </div>
     <div class="mb-2 text-right" style="height: 50px">
        <input
          type="text"
          class="form-control exo text-field shadow-none"
          style="z-index: 50"
          placeholder="Username"
          formControlName="usuario"
          #username
        />       
      </div>
      <div class="mb-2 text-right" style="height: 50px">
        <input
          type="text"
          class="form-control exo text-field shadow-none"
          placeholder="Nombre"
          formControlName="nombre"
          #nombre
        />
       </div>
       <div class="mb-2 text-right" style="height: 50px">
        <input
          type="text"
          class="form-control exo text-field shadow-none"
          placeholder="Apellido"
          formControlName="apellido"
          #apellido
        />
       </div>
       <div class="mb-2 text-right" style="height: 50px">
        <select formControlName="status"
        class="form-control exo text-field shadow-none">
          <option>Seleccione el Estado</option>
          <option></option>
        </select>
       </div>
  
      <button
        type="submit"
        class="btn btn-primary aldrich shadow-none rounded-0"
        style="width: 100%; height: 50px; opacity: 1"
        data-dismiss="modal"
        [disabled]="
          forma.invalid || forma.pristine 
        "
      >
        UPDATE
      </button>
    </form>
  </div>
